/* HEADER
----------------------------*/

div header a {
    text-decoration: none;
}

header a.logo {
    font-weight: 500;
    font-size: 3.4rem;
    color: var(--cor-white);
}

header a.logo strong {
    font-size: 3.4rem;
    color: var(--cor-font-extra);
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#menu li {
    padding: 0.4rem 1rem;
}

#menu li.active {
    background: var(--cor-font-extra);
    color: var(--cor-white);
    border-radius: 0.5rem;
}

#menu li.active:hover {
    background: var(--cor-font-extra);
    color: var(--cor-white);

}

#menu a {
    font-size: 1.6rem;
    display: block;
    padding: 0.5rem;
    color: var(--cor-white);
    font-weight: 300;
}

.menu-selected {
    color: var(--cor-white);
    padding: 10px;
    border-radius: 5px;
    color: var(--colors-background);
}

#btn-mobile {
    display: block;
}


@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 92px;
        right: 0px;
        background: var(--cor-principal);
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        text-align: center;
    }

    #nav.active #menu {
        height: calc(80vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu li.active {
        display: none;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        color: var(--cor-white);
        border-bottom: 1px solid rgb(204, 204, 204);
    }

    #menu a:hover {
        color: var(--cor-font-extra);
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    #hamburguer {
        display: block;
        border-top: 4px solid var(--cor-font-extra);
        width: 34px;
    }

    #hamburguer::after,
    #hamburguer::before {
        content: "";
        display: block;
        width: 34px;
        height: 4px;
        background: var(--cor-font-extra);
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -9px;
    }
}

/* FOOTER
----------------------------*/
.footer {
    background-color: var(--cor-principal);
    padding: 4rem 0;
    text-align: center;
}
  
.footer p {
    color: var(--cor-white);
} 
  
.footer strong {
    color: var(--cor-font-extra);
}
