html {
  
    font-family: 'Lato', sans-serif;

}

h1 {
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding: 20px;

}

h2 {
    font-size: 34px;
    text-align: center;
    margin: 20px 0px 30px 0px;
}

h3 {
    font-size: 29px;
}

h4 {
    font-size: 24px;
}

p {
    font-size: 19.2px;
}

.principal-e-aside {
    display: flex;
}

/*formatação quiz*/
.container-slide {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    min-height: 50vh;
    width: 100%;
}

.paginas-slide {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 700px;

}

.primeiro-slide {
    background-image: url(../img/adocao/h1/fundo_h_um.jpg);
    background-size: cover;
    color: white;
    height: 300px;
    border-radius: 10px;

}

#titulo-slide {
    display: flex;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    justify-content: left;
    padding-left: 10px;
    padding-top: 20px;
}

#paragrafo-slide {
    display: flex;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    justify-content: left;
    padding-left: 10px;
    padding-top: 10px;
    text-align: justify;
    width: 300px;

}

.slide {
    border-radius: 10px;
    opacity: 0;
    padding-bottom: 30px;
    position: absolute;
    transition: opacity .2s;
    width: 100%;

}

.on {
    opacity: 1;
}

.proximos-slides {
    background: orange;
    height: 300px;
    padding-top: 20px;
}

.formulario {
    font-size: 20px;
    padding: 10px 0 0 150px;
    text-align: left;
}

.slide-resultado {
    display: flex;
}

.paragrafo-resultado {
    padding: 10px 10px 20px 30px;
    text-align: justify;
    text-indent: 25px;
    word-wrap: break-word;
    font-size: 1.25rem;
}

#img-slide-gato {
    object-fit: cover;
    height: 200px;
    width: 200px;
    margin-right: 20px;

}

#img-slide-dog {
    object-fit: cover;
    height: 200px;
    width: 500px;
    margin-right: 20px;

}

#botao-voltar,
#botao-avancar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;

}

#botao-voltar img,
#botao-avancar img {
    height: 100%;
    width: 100%;

}

#botao-avancar {
    transform: rotate(180deg);
}

/*fim formatação quiz*/

/*inicio estilização  seção opções de pets*/
#opcao-pet {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#adocao-opcao-pet {

    background-image: url(../img/adocao/background/imagens-de-patinha.png);
    background-size: 12.5rem;
    width: 90%;
    height: 50rem;
    background-blend-mode: luminosity;
    border-radius: 1.625rem;
    margin: 1.25rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sugestao-opcao-pet {
    display: flex;
    justify-content: space-evenly;
}

.img-pets {
    border-radius: 50%;
    height: 160px;
    margin-bottom: 10px;
    object-fit: cover;
    width: 160px;
    padding: 10px;
    transition: 200ms linear;
}

.img-pets:hover {
    transform: scale(1.6);
}

/*fim estilização  seção opções de pets*/
/*inicio estilização seção como adotar*/

.container-como-adotar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;

}

.secao-como-adotar {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.titulo-como-adotar {

    font-size: 18px;
    margin-bottom: 10px;
}

.imagem-como-adotar {
    width: 5rem;
    height: 5rem;
    object-fit: cover;

}

.div-como-adotar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.paragrafo-como-adotar {
    background-color: orange;
    color: #fff;
    border-radius: 10px;
    padding: 10px 5px;
    font-size: 14px;
    line-height: 25px;
    width: 150x;
    height: 250px;

}

/*fim estilização seção como adotar*/
/* inicio estilização seção ongs*/
.div-ongs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25rem 0rem 1.875rem 0rem;
}

.imagem-ongs {

    object-fit: cover;
    width: 80%;
}

/*fim estilização seção ongs*/
/*inicio estilização propaganda prdutos*/

#produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ddd;
    padding-left: 1rem;
    margin-left: 2rem;
    padding-bottom: 1rem;

}

#secao-produtos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 0.625rem;
}

.div-produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;

}

.div-produtos:hover {
    box-shadow: 0 2px 2px orange;

    transform: scale(1.1);
    color: orange;
}

.imagem-produtos {
    width: 40%;
}

.paragrafo-produtos {
    color: black;
    font-size: 1.2rem;
    line-height: 150%;
    margin-top: 0.625rem;
    padding-bottom: 1.25rem;
    text-align: center;
    line-height: 2rem;
}

.preco-produtos {
    background-color: #4180ec;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    margin-top: 3.125rem;
}

/*fim estilização propaganda prdutos*/


@media screen and (max-width: 768px) {
    html {
        font-size: 62, 5%;
        font-family: 'Lato', sans-serif;

    }

    h1 {
        font-size: 2.625rem;
        display: flex;
        justify-content: center;
    }

    h2 {
        font-size: 2.125rem;
        text-align: center;
    }

    h3 {
        font-size: 1.8125rem;
    }

    h4 {
        font-size: 1.625rem;
    }

    p {
        font-size: 1.125rem;
    }

    .principal-e-aside {
        display: flex;
        flex-direction: column;

    }

    /*inicio estilização propaganda prdutos*/

    #produtos {
        display: flex;
        justify-content: center;
        border: 1px solid #ddd;
        padding-left: 1rem;
        margin-left: 2rem;
        padding-bottom: 1rem;

    }

    #secao-produtos {
        display: flex;


    }

}
    /*fim estilização propaganda prdutos*/



    @media screen and (max-width: 480px) {
        html {
            font-size: 62, 5%;
            font-family: 'Lato', sans-serif;

        }

        h1 {
            font-size: 2.625rem;
            display: flex;
            justify-content: center;
        }

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.3rem;
        }

        h4 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1.125rem;
        }

        /*inicio estilização quiz*/

        /*fim estilização quiz*/
        /*inicio estilização  seção opções de pets*/
        #opcao-pet {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

        }

        #adocao-opcao-pet {

            background-image: url(adocao/background/imagens-de-patinha.png);
            background-size: 12.5rem;
            width: 100%;
            height: 800px;
            background-blend-mode: luminosity;
            border-radius: 0.625rem;
            border-color: orange;
            border: solid;
            margin: 1.25rem;
            padding: 1.25rem;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        .sugestao-opcao-pet {
            display: flex;
            flex-direction: column;

        }

        .img-pets {
            border-radius: 50%;
            height: 9.375rem;
            margin-bottom: 0.625rem;
            object-fit: cover;
            width: 9.375rem;
            padding: 0.625rem;
            transition: 200ms linear;
        }

        .img-pets:hover {
            transform: scale(1.6);
        }
    }