/*inicio formatação cards ongs*/
.subtitulo{
    background-image: url(../img/adocao/background/fundo.png);
    background-size: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*inicio estilização titulo da pag*/
.secao-apresentacao{
    display: flex;
    background-color: #F8b74c;
    height: 50vh;
    margin-top: 5px;
}

.container-apresentacao{
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

/*fim estilização titulo da pag*/
/*inicio estilização cards ongs*/
.container-ong{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.cards-ongs{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    overflow: hidden;
   }
.cards{
    display: grid;
    place-items: center;
    min-height: 65vh;
    border-radius: 2%;
    margin-right: 10%;
}
.container-exterior{
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.cards .card{
    background-image: url(../img/adocao/background/patinhas.jpeg);
    background-size: 30%;
    
    padding: 1.5rem;
    max-width:50rem;
    border-radius: 2rem;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    animation: animate 15s infinite linear;
    animation-delay:calc(3s * var(--delay));
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.3);
}

.card-interno-conteudo, .card-interno{
    display: flex;
    align-items: center;
}

.card-interno{
    justify-content: space-between;
}

.card-interno-conteudo{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    color: #421a12;
}

.card-interno-conteudo .img{
    height: 100px;
    width: 100px;
    padding: 5px;
}

.card-interno-conteudo .img img{
    width: 150%;
}

.card-interno-conteudo .card-interno-conteudo-div{
    margin-left: 10px;
    width: 100%;
}



.container-exterior:hover .card{
    animation-play-state: paused;

}

.cards .card:last-child{
    animation-delay: calc(-3s * var(--delay));
}

@keyframes animate {
    
    0%{
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }
    5%,20%{
        opacity: 0;
        transform: translateY(100%) scale(0.7);
    }
    25%,40%{
        opacity: 1;
        pointer-events: all;
        transform: translateY(0%) scale(1);
    }
    45%,60%{
        opacity: 0;
        transform: translateY(-100%) scale(0.7);
    }
    65%,100%{
        opacity: 0;
        transform: translateY(-100%) scale(0.5);
    }

}

@media (max-width:467px){
    .card{
        font-size: 10px;
        padding: 25rem!important;
        margin: .25rem;
    }
}
/*fim formatação cards ongs*/
/*inicio formatação galeria*/

.contanier-galeria{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 2%;
}



.header-galeria{
   
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-galeria div.galeria{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}

.header-galeria div.galeria div.single-galeria{
    position: relative;
    width: 20%;
    height: 100%;
    margin: 0 5px;
    transition: width 1s;
}

.header-galeria div.galeria div.single-galeria:first-child{
    width: 35% !important;
}

.header-galeria div.galeria:hover div.single-galeria:first-child{
    width: 20% !important;
}

.header-galeria div.galeria div.single-galeria:hover{
    width: 35% !important;
}

.header-galeria div.galeria div.single-galeria:first-child:hover{
    width: 35% !important;
}


.header-galeria div.galeria div.single-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-galeria div.galeria div.single-galeria div.info{
    position: absolute;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 65%, transparent);
    padding: 16% 8%;
    bottom: 0;
}

.header-galeria div.galeria div.single-galeria div.info h1{
    font-size: 26px;
    color: white;
}

.header-galeria div.galeria div.single-galeria div.info p{
    font-size: 14px;
    line-height: 28px;
    color: white;
}

.header-galeria div.galeria div.single-galeria div.info a{
    font-size: 14px;
    line-height: 28px;
    color: orange;
    text-decoration: none;
}

.header-galeria div.galeria div.single-galeria div.info a:hover{
    text-decoration: underline;
}

.header-galeria{
    width: 100%;
    height: 100vh;
    padding: 2%;
    display: grid;
    place-items: center;
    background-color: rgb(250,250,250);
}

.paragrafo p{
    color: rgb(100,100,100);
    font-size: 22px;
    line-height: 32px;
}


@media screen and (max-width: 764px){

    .header-galeria div.galeria{
        width: 100%;
        height: 70vh;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    
    .header-galeria div.galeria div.single-galeria{
        min-width: 90% !important;
    }

}
/*inicio formatação quiz*/
#container{
    display: flex;
    align-items:center;
    justify-content: space-around;
    
    

}
#quiz {
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: linear-gradient(to right top, #000);
    color: #000;
    display: flex;
    align-items:center;
    justify-content: space-around;
    min-height: 100vh;
    width: 50%;
       
}

.qa_box_caixa {
    width: 100%;
    padding: 20px;
    min-height: 450px;
    background-color: #fff;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.3);
    border-radius: 15px;
}

.qa_header_cabecalho {
    background-color: #F8b74c;
    color: #421a12;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    margin: -20px -20px 20px;
    border-radius: 15px 15px 0 0;
    font-size: 20px;
}

.qa_set_titulo {
    display: none;
    
}


.qa_set_titulo.active {
    display: block;
    align-items: center;
}

qa_set_titulo h4 {
    margin: 0 0 15px;
    font-size: 20px;
   
}

.qa_ans_row_linha {
    position: relative;
    margin-bottom: 10px;
}

.qa_ans_row_linha input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;

}

.qa_ans_row_linha span {
    display: block;
    padding: 8px 15px;
    margin-bottom: 10px;
    background-color: #bad0c9;
    border-radius: 15px;
    transition: all 0.3s ease-out;
}

.qa_ans_row_linha:hover span {
    background-color: #9ab5ac;

}

.qa_ans_row_linha input:checked + span{
    background-color: #f93c3c;
}

.qa_ans_row_linha input[valid]:checked + span{
    background-color: green;
    color: #fff;
}
.qa_footer_rodape{
    padding: 20px 0 0;
    text-align: right;
}

.btn1{
    display: inline-block;
    padding: 8px 20px;
    background-color: #F8b74c;
    color: #fff;
    border-radius: 15px;
    cursor:pointer;
    transition: all 0.3s ease-out;
}

.btn1:hover{
    background-color: #421a12;
}
/*fim formatação quiz*/

/*inicio estilização seção como adotar*/

.container-como-adotar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    align-items: center;
    justify-content: center;

}

.secao-como-adotar {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #F8b74c;
    border-radius: 5%;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.titulo-como-adotar {

    font-size: 18px;
    margin-bottom: 10px;
}

.imagem-como-adotar {
    width: 80px;
    height: 80px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.div-como-adotar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.paragrafo-como-adotar {
    background-color: #fff;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px #EB7A21;
    padding: 15px;
    font-size: 14px;
    line-height: 25px;
    width: 180px;
    height: 250px;
    text-align: justify;

}

/*fim estilização seção como adotar*/

@media screen and (max-width: 400px) {
    .qa_box_caixa {
        width: 300px;
        padding: 20px;
        min-height: 450px;
        background-color: #fff;
        box-shadow: 0 0 5px 3px orange;
        border-radius: 15px;
    }
    
}