@import url(_reset_patterns.css);
/* @import url(_header_footer.css); */

.container {
  background: gainsboro;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}

.h1-planos {
  padding: 2rem;
  /* margin-bottom: 1rem; */
}
.planos-container {
  margin-top: 2rem;
  display: flex;
  gap: 30px;
}

.planos h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  padding: 1rem;
}

.planos {
  width: 320px;
  height: 450px;
  background: white;
  border-radius: 5px;

}
.planos-preco {
  font-size: 4rem;
  color: var(--cor-principal);
  padding: 1rem;
}

.ul-planos {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1rem;
}

.ul-planos li::before {
  content: "🟊";
  color: var(--cor-principal);
}

.button {
  color: aliceblue;
  padding: 1rem 2rem;
  background: var(--cor-principal);
  border: 2px var(--cor-principal);
  border-radius: 5px;
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  box-sizing: border-box;
}

.button:hover {
  outline: 2px solid var(--cor-texto);
}

/* ---------------------------- */

.footer-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.col{
} 

.footer {
  background-color: var(--cor-principal);
  padding: 4rem 0;
  text-align: center;
}

.footer p {
  color: var(--cor-white);
} 

.footer strong {
  color: var(--cor-font-extra);
}