main {
    font-family: 'Lato', sans-serif;
    padding: 10px;
    margin: 10px;   
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3.6rem; 
    font-weight: bold;
    color: #421a12;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}

h3 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #421a12;
}

h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #421a12;
}

a {
    text-decoration: none;
    color: #421a12;
}

main p {
    color: white;
    font-size: 1.8rem;
    line-height: 3.5rem;
}

.Titulo {
    text-transform: none;
}

/*formatação quiz*/
.container-slide {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.paginas-slide {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 700px;

}

.primeiro-slide {
    background-image: url(../img/adocao/h1/fundo_h_um.jpg);
    background-size: cover;
    color: white;
    height: 300px;
    padding: 10px;
}

.segundo-slide {
    background-image: url(../img/contato/cão01.jpg);
    background-size: cover;
    color: white;
    height: 300px;
    padding: 10px;
}
.terceiro-slide {
    background-image: url(../img/contato/cão02.jfif);
    background-size: cover;
    color: white;
    height: 300px;
    padding: 10px;
}

.quarto-slide {
    background-image: url(../img/contato/coelho01.jpg);
    background-size: cover;
    color: white;
    height: 300px;
    padding: 10px;
}

.quinto-slide {
    background-image: url(../img/contato/gato01.webp);
    background-size: cover;
    color: white;
    height: 300px;
    padding: 10px;
}

.sexto-slide {
    background-image: url(../img/contato/gato02.jpg);
    background-size: cover;
    color: white;
    height: 300px;
    padding: 10px;
}

.setimo-slide {
    background-image: url(../img/contato/img_7925.jpg);
    background-size: cover;
    color: white;
    height: 300px;
    padding: 10px;
}

#titulo-slide {
    display: flex;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    justify-content:left;
    padding-left: 10px;
    padding-top: 20px;
}

#paragrafo-slide {
    display: flex;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    justify-content: left;
    padding-left: 10px;
    padding-top: 10px;
    text-align: justify;
    width: 300px;
}

.slide {
    border-radius: 10px;
    opacity: 0;
    padding-bottom: 30px;
    position: absolute;
    transition: opacity .2s;
    width: 100%;    
}

.on {
    opacity: 1;
}

#botao-voltar,
#botao-avancar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

#botao-voltar img,
#botao-avancar img {
    height: 100%;
    width: 100%;
}

#botao-avancar {
    transform: rotate(180deg);
}

/*fim formatação quiz*/
#formulario {
    /* flex: 2 0 auto; */
    width: 30%; 
    text-align: center;
    contain: center;
    border: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(255, 98, 0);
    padding: 29px 0;
    -webkit-border-top-right-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-radius-topright: 12px;
    -moz-border-radius-bottomright: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#endereço{
    border: 1px solid rgb(255, 98, 0);
    padding: 29px 0;
    -webkit-border-top-right-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-radius-topright: 12px;
    -moz-border-radius-bottomright: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#for{
    align-items: self-end;
}


li { 
    list-style-type: none; 
} 

.mapa {
    border: 2px solid #e7e7e7;
    border-radius: 10px;    
}