.main{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
/*formatação quiz*/
.container-slide {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    min-height: 50vh;
    width: 100%;
}

.paginas-slide {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 700px;

}

.primeiro-slide {
    background-image: url(../img/adocao/h1/fundo_h_um.jpg);
    background-size: cover;
    color: white;
    height: 300px;

}
.segundo-slide {
    background-image: url(../img/contato/cão01.jpg);
    background-size: cover;
    color: white;
    height: 300px;

}
.terceiro-slide {
    background-image: url(../img/contato/cão02.jfif);
    background-size: cover;
    color: white;
    height: 300px;

}
.quarto-slide {
    background-image: url(../img/contato/coelho01.jpg);
    background-size: cover;
    color: white;
    height: 300px;

}
.quinto-slide {
    background-image: url(../img/contato/gato01.webp);
    background-size: cover;
    color: white;
    height: 300px;

}
.sexto-slide {
    background-image: url(../img/contato/gato02.jpg);
    background-size: cover;
    color: white;
    height: 300px;

}
.setimo-slide {
    background-image: url(../img/contato/img_7925.jpg);
    background-size: cover;
    color: white;
    height: 300px;

}
#titulo-slide {
    display: flex;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    justify-content:left;
    padding-left: 10px;
    padding-top: 20px;
}

#paragrafo-slide {
    display: flex;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    justify-content: left;
    padding-left: 10px;
    padding-top: 10px;
    text-align: justify;
    width: 300px;

}

.slide {
    border-radius: 10px;
    opacity: 0;
    padding-bottom: 30px;
    position: absolute;
    transition: opacity .2s;
    width: 100%;
    
}

.on {
    opacity: 1;
}

#botao-voltar,
#botao-avancar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;

}

#botao-voltar img,
#botao-avancar img {
    height: 100%;
    width: 100%;

}

#botao-avancar {
    transform: rotate(180deg);
}

/*fim formatação quiz*/