main {
    font-family: 'Lato', sans-serif;
    padding: 20px;
    margin: 0 auto;   
}

h1 {
    font-size: 36px; 
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #4b4848;
}

p {
    color: #4b4848;
    font-size: 18px;
}

.Titulo {
    text-transform: none;
}

.depoimento {
    background-image: url(../img/depoimentos/patinhas.jpeg);
    background-size: 200px;
    border: 2px solid #e7e7e7;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.post {
    background-image: url(../img/depoimentos/patinhas.jpeg);
    background-size: 200px;
    border: 2px solid #e7e7e7;
    margin: 10px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    font-size: 18px;
}

.grid-depoimento {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.grid-post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.img {
    border-radius: 15px;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    object-fit: cover;
    padding: 10px;
    transition: 200ms linear; 
}

.img:hover{
    transform: scale(1.2);
}

