main {
    font-family: 'Lato', sans-serif;
    padding: 10px;
    margin: 10px;   
}

h1 {
    font-size: 3.6rem; 
    font-weight: bold;
    color: #421a12;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #421a12;
}

a {
    text-decoration: none;
    color: #421a12;
}

p {
    color: #421a12;
    font-size: 1.8rem;
    line-height: 3.5rem;
}

.Titulo {
    text-transform: none;
}

.depoimento {
    background-image: url(../img/depoimentos/patinhas.jpeg);
    background-size: 200px;
    border: 2px solid #e7e7e7;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 2.7rem;
    width: 90%;
    max-width: 768px;
}

.post {
    background-image: url(../img/depoimentos/patinhas.jpeg);
    background-size: 200px;
    border: 2px solid #e7e7e7;
    margin: 10px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    font-size: 1.8rem;
    line-height: 2.5rem;
    width: 90%;
    max-width: 768px;
}

.grid-depoimento {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 5px;  
}

.grid-post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 5px;
    margin: 5px;
}

.img {
    border-radius: 15px;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    object-fit: cover;
    padding: 10px;
    transition: 200ms linear; 
}

.img:hover{
    transform: scale(1.2);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}


@media (max-width: 768px) {
    html {
        font-size: 50%;
        text-align: center;
    }

    .grid-post {
        text-align: center;
        align-content: center;
    }

    .grid-depoimento {
        text-align: center;
        align-content: center;
    }
}

@media (max-width: 375px) {
    html {
        font-size: 50%;
        text-align: center;
    }

    .grid-post {
        text-align: center;
        align-content: center;
    }

    .grid-depoimento {
        text-align: center;
        align-content: center;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 50%;
        text-align: center;
    }

    .grid-post {
        text-align: center;
        align-content: center;
    }

    .grid-depoimento {
        text-align: center;
        align-content: center;
    }
}