footer {
    background-color: rgb(240,182,148);
    padding: 25px 0;
    text-align: left;
}

footer h4 {
    font-size: 22px;
    margin-bottom: 18px;
    font-weight: bold;

}

ul.payment-methods,
ul.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.payment-methods li,
ul.social-media li {
    margin-bottom: 10px;
}

ul.payment-methods a,
ul.social-media a {
    color: rgb(66, 26, 18);
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

ul.payment-methods i,
ul.social-media i {
    margin-right: 10px;
    font-size: 16px;
}

footer p {
    font-size: 16px;
    margin-bottom: 10px;
}

.payment-methods a:hover {
    text-decoration: underline;
    color: rgb(66, 26, 18);
}

.social-media a:hover {
    text-decoration: none;
    color: rgb(66, 26, 18);
}

