@import url('_colors.css');

.head {
    background-color: var(--sandy-brown);
    text-align: center;
    padding: 10px 0px;
}

.logo img {
    height: auto;
    width: 100%;
}

.links nav {
    margin-top: 25px;
}

.links a {
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    color: var(--link-color);
    font-size: 20px;
}

a.activated {
    color: var(--link-hover-color);
}

.links a:hover {
    color: var(--link-hover-color);
    border-top: 5px solid var(--link-hover-color);
    border-bottom: 5px solid var(--link-hover-color);
}

.login {
    margin-top: 25px;
}

.login a {
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    color: var(--link-color);
    font-size: 18px;
}

.span-1 {
    font-weight: bold;
    color: var(--link-color);
}

.dog i {
    padding: 20px;
    font-size: 30px;
}

.dog a {
    color: var(--link-color);
}

#busca {
    width: 300px;
    height: 42px;
    padding: 5px;
    margin-top: 18px;
    border-radius: 10px;
    background-color: var(--fundo-geral);
}

::placeholder {
    color: var(--secondary-text-color);
    opacity: 1;
    /* Firefox */
}

#busca input {
    float: left;
    width: 85%;
    background-color: transparent;
    font-size: 18px;
    height: 32px;
}

#busca input:focus,
#busca input:focus-visible {
    border: none;
    outline: none;
}

#busca button {
    float: left;
    width: 15%;
    font-size: 16px;
    padding: 5px;
    background-color: transparent;
    border: none;
}

#txtBusca {
    float: left;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 250px;
}