.head {
    background-color: rgb(240,182,148);
    text-align: center;
}

.links nav {
    margin-top: 25px;
}

.links a {
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(66, 26, 18);
    font-size: 20px;
}

a.activated {
    color: rgb(235, 122, 33);
}

.links a:hover {
    color: rgb(235, 122, 33);
    border-top: 5px solid rgb(235, 122, 33);
    border-bottom: 5px solid rgb(235, 122, 33);
}

.login {
    margin-top: 25px;
}

.login a {
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(66, 26, 18);
    font-size: 18px;
}

.span-1 {
    font-weight: bold;
    color: rgb(66, 26, 18);
}

.dog i {
    padding: 20px;
    font-size: 30px;
}

.dog a {
    color: rgb(66, 26, 18);
}

#divBusca {
    background-color: white;
    border: solid 1px solid rgb(248,183,76) ;
    border-radius: 10px;
    width: 300px;
    padding: 5px;
    height: 42px;
    margin-top: 18px;
}

::placeholder {
    color: rgb(235, 122, 33);
    opacity: 1; /* Firefox */
}

#divBusca > i {
    float: right;
    margin: 8px 5px 5px 5px;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 250px;
}
