body {
    background-color: white;
    text-align: center;
}

h3 {
    padding: 20px 0;
    text-align: left;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.slide-controller:checked ~ .slide-show .slider {
    transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.slide-show {
    overflow: hidden;
}

.slider {
    --selected-item: 0;
    --total-items: 4;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    position: relative;
    left: calc(var(--selected-item) * -100%);
    width: calc(var(--total-items) * 100%);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.StarHolder i {
    color: rgb(255, 98, 0);
}

.logo img {
    height: auto;
    width: 100%;
}

#slider-imagens {
    margin-top: 100px;
}

.slide {
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.slide.slide-01 {
    background-image: url('../img/home/foto1.jpg');
}

.slide.slide-02 {
    background-image: url('../img/home/foto2.jpg');
}

.slide.slide-03 {
    background-image: url('../img/home/foto3.jpg');
}

#slider-imagens {
    margin-top: 100px;
}

#promocoes {
    margin-top: 100px;
}

#produtos-recomendados .produtos a img {
    width: 350px;
    height: auto;
}

#marcas-trabalhadas .img-pets {
    width: 70%;
    padding: 15px 25px;
}

#marcas-trabalhadas .marca {
    float: left;
    width: 350px;
}
