body {
    background-color: white;
    text-align: center;
}

h3 {
    padding: 20px 0;
}

.slide-controller:checked ~ .slide-show .slider {
    transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.slide-show {
    overflow: hidden;
}

.slider {
    --selected-item: 0;
    --total-items: 4;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    position: relative;
    left: calc(var(--selected-item) * -100%);
    width: calc(var(--total-items) * 100%);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.StarHolder i {
    color: rgb(255, 98, 0);
}

.logo img {
    height: auto;
    width: 100%;
}
