/* font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
.head {
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.links nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

/* Main Section */
.main-section {
    padding: 20px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.movie-product {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
}

.product-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.product-price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.product-price {
    font-size: 18px;
    margin-bottom: 5px;
}

/* "Add to Cart" Button */
.button-container {
    text-align: center;
    margin-top: 10px;
}

.button-hover-background {
    background-color: #4180ec;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-hover-background:hover {
    background-color: #3a73d9;
}

/* Section Formatting */
.normal-section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Cart Table Formatting */
.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-head-item {
    text-align: left;
    padding: 10px;
    background-color: #f8f8f8;
}

.cart-total-container {
    text-align: right;
    padding: 10px;
    background-color: #f8f8f8;
}

/* Purchase Button Formatting */
.purchase-button {
    background-color: #41ec5d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto 0;
}

.purchase-button:hover {
    background-color: #3add5a;
}

/* Footer */
footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

.fa-brands, .fa-solid {
    font-size: 20px;
    margin-right: 5px;
}